#questions-list {
  .list {
    li {
      list-style: none;
      padding: 0 10px 20px 60px;
      margin-bottom: 20px;
      position: relative;
      .answers_count {
        float: left;
        position: absolute;
        padding: 3px 10px;
        top: 3px;
        left: 10px;
        background: #eee;
        color: #666;
      }
      .info {
        font-size: 80%;
        color: #999;
        float: right;
        margin-right: 20px;
      }
    }
  }
}
